{% load i18n %}
{% for shared_passwd in shared_passwds %}
    <div class="modal fade" id="reveal-shared-passwd-{{ shared_passwd.uuid }}-modal" tabindex="-1" aria-labelledby="reveal-shared-passwd-{{ shared_passwd.uuid }}-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reveal-shared-passwd-{{ shared_passwd.uuid }}-modal-label">{% trans "Reveal shared password" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="{{ shared_passwd.uuid }}">
                        <span id="{{ shared_passwd.uuid }}-value"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans "Ok" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
