{% extends 'store/store_base.html' %}
{% load i18n %}
{% block tab_title %}{% trans "Register" %}{% endblock tab_title %}
{% block content %}
    {% include "store/includes/store_message.html" %}
    <form class="py-3" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="input_email">{% trans "Email address" %}</label>
            <input type="email" class="form-control" name="email" id="input_email" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="input_password">{% trans "Password" %}</label>
            <input type="password" class="form-control" name="password" id="input_password" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="input_master_key">{% trans "Master key" %}</label>
            <input type="text" class="form-control" name="master_key" id="input_master_key" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Registrarse">
    </form>
    <hr>
    <a class="btn" href="{% url 'customers_login' %}">Entrar</a>
{% endblock content %}