{% extends 'store/store_base.html' %}
{% load i18n %}
{% block tab_title %}{% trans "Forgot password?" %}{% endblock tab_title %}
{% block content %}
    {% include "store/includes/store_message.html" %}
    <form class="py-3" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="input_email" class="form-label">{% trans "Email address" %}</label>
            <input type="email" class="form-control" name="email" id="input_email" placeholder="email@example.com">
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Reset password" %}</button>
    </form>
    <hr>
    <a class="btn" href="{% url 'customers_login' %}">{% trans "Login" %}</a>
    <a class="btn" href="{% url 'customers_register' %}">{% trans "Register" %}</a>
{% endblock content %}