{% extends 'store/store_base.html' %}
{% block tab_title %}Register{% endblock tab_title %}
{% block content %}
    <form class="px-4 py-3" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="input_email">Correo electrónico</label>
            <input type="email" class="form-control" name="email" id="input_email" placeholder="email@example.com" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="input_password">Contraseña</label>
            <input type="password" class="form-control" name="password" id="input_password" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="input_master_key">PIN seguridad</label>
            <input type="number" class="form-control" step="1" min="100000" max="999999" name="master_key" id="input_master_key" required placeholder="PIN">
        </div>
        <input type="submit" class="btn btn-primary" value="Registrarse">
        <a class="btn" href="{% url 'customers_login' %}">Entrar</a>
    </form>
{% endblock content %}