{% extends 'store/store_base.html' %}
{% block tab_title %}Forgot password{% endblock tab_title %}
{% block content %}
    <form class="px-4 py-3" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="input_email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="input_email" placeholder="email@example.com">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a class="btn" href="{% url 'customers_login' %}">Cancelar</a>
    </form>

{% endblock content %}