{% extends 'store/store_base.html' %}
{% load i18n %}
{% block tab_title %}{% trans "Login" %}{% endblock tab_title %}
{% block content %}
    {% include "store/includes/store_message.html" %}
    <form class="py-3" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="input_email" class="form-label">{% trans "Email address" %}</label>
            <input type="email" class="form-control" name="email" id="input_email" placeholder="email@example.com" required>
        </div>
        <div class="mb-3">
            <label for="input_password" class="form-label">{% trans "Password" %}</label>
            <input type="password" class="form-control" name="password" id="input_password" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <label for="input_master_key" class="form-label">{% trans "Master key" %}</label>
            <input type="text" class="form-control" name="master_key" id="input_master_key" required>
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
    </form>
    <hr>
    <a class="btn" href="{% url 'customers_register' %}">{% trans "Register" %}</a>
    <a class="btn" href="{% url 'customers_forgot_passwd' %}">{% trans "Forgot password?" %}</a>
{% endblock content %}