{% load i18n %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Passtore</a>
        {% if user.is_authenticated %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans "Passwords" %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'store_view_passwds' %}">{% trans "View passwords" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'store_add_passwd' %}">{% trans "Add password" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'store_view_shared_passwds' %}">{% trans "Shared passwords" %}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans "Containers" %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'store_view_containers' %}">{% trans "View containers" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'store_add_container' %}">{% trans "Add container" %}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customers_profile' %}">{% trans "My profile" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customers_logout' %}">{% trans "Logout" %}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>